<div class="container-fluid p-0">
  <header class="header">
    <h5 class="text-uppercase font-weight-bold ps-4">BUI MAI LINH</h5>
    <div class="header-right me-5">
      <input class="me-3 ps-2" type="text" placeholder="Search...">
      
      <i class="fas fa-bell me-3 fs-5"></i>
      
      <div class="avatar">
        <img src="./../assets/img/avatar.jpg" alt="">
      </div>
    </div>
  </header>
  <div class="content">
    <div class="row h-100">
      <div class="col-md-2 navbar p-0">      
        <div class="navbar-menu">
          <a routerLink="/manage-book" class="navbar-link ps-5" [routerLinkActive]="['active']">Quản lý sách</a>
          <a routerLink="/add-book" class="navbar-link ps-5" [routerLinkActive]="['active']">Thêm mới sách</a>
        </div>
      </div>
      <div class="col-md-10" style="height: 100%;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>  
  <footer class="bg-dark text-white pt-5 pb-4">
    <div class="row text-center">
      <div class="col-md-6 col-lg-6 col-xl-6 mx-auto">
        <h5 class="text-uppercase mb-4 font-weight-bold">BUI MAI LINH</h5>
        <p>Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
      </div>
    </div>
  </footer>
</div>






